@import tools
@import mixins

body
  font-family: "Lato"
  text-align: center
  background: #f4f4f7
  color: #000
  margin: 0
  padding: 0
  overflow: hidden

.platform
  position: absolute
  width: 100px
  height: 10px
  background: #000


@import square
@import background
@import retina
