@import tools
@import mixins

body
  font-family: "Lato"
  text-align: center
  background: #f4f4f7
  color: #000
  margin: 0
  padding: 0
  overflow: hidden

strong
  font-weight: bold

.platform
  position: absolute
  width: 144px
  height: 10px
  background: url(../img/macbook.png) transparent no-repeat
  background-size: cover


@import square
@import enemy
@import background
@import retina

h1.message
  position: absolute
  left: 0
  top: 40%
  width: 100%
  text-align: center
  font-size: 100px
  z-index: 9999
