@import mixins

.background
  position: absolute
  width: 100%
  height: 100%
  z-index: -1

  .logo
    position: absolute
    left: 50%
    margin-left: -161.5px
    opacity: 0.3

  .sky
    width: 100%
    height: 100%
    bg-gradient(#c5fdfe, #FFF)
    z-index: 1

  .ground
    width: 100%
    background-color: #b6a97e
    height: 10%
    bottom: 0
    position: absolute
    border-top: 1px solid darken(#b6a97e, 20)
    background-image: none !important

  .points
    font-size: 1.3em
    position: absolute
    right: 20px
    top: 20px
    text-align: left
    line-height: 1.8em