script(src="./js/mousetrap.min.js")
script(src="./js/underscore.min.js")

.square.walking#hero
  .body
  .hat
  .glasses
  .fronthand
  .backhand
  .shirt
  .pants

.platform.p1
.platform.p2

    
.background
  img.logo(src="img/logo.png")
  .points 
    strong Health: 
    | Enough. 
    br
    strong Points: 
    | (too mainstream)
  .sky
  .ground.platform
  .mountain
  .sun
