script(src="./js/mousetrap.min.js")
script(src="./js/underscore.min.js")

.square.walking#hero
  .body
  .hat
  .glasses
  .fronthand
  .backhand
  .shirt
  .pants

.platform.p1
.platform.p2


.enemy
  .head
  .body
  .legs.front
  .legs.back
    
.enemy2
  .head
  .body
  .legs.front
  .legs.back

.background
  img.logo(src="img/logo.png")
  .sky
  .ground.platform
  .mountain
  .sun
